@charset "utf-8";

/* Reset */
html,body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,input,fieldset,p,button,table,th,td{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:'돋움',dotum,Helvetica,sans-serif;font-size:12px;color:#383d41}
body{background-color:#fff;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#2f3743;text-decoration:none}
a:hover{color:#907763;text-decoration:underline}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}
table{/* border-collapse:collapse;table-layout:fixed; */border-collapse:collapse;border-spacing:0}

/* Common */
.blind,legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
:root legend{margin-top:-1px;font-size:0;line-height:0}
.ir{display:block;overflow:hidden;position:relative;z-index:-1;height:11px;font-size:11px;white-space:nowrap}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}

.leftBtn{margin-top:0px;text-align:left;vertical-align:middle;}
.rightBtn{margin-top:0px;margin-bottom:0px;text-align:right;}
.centerBtn{margin:0px 0px 15px;text-align:center;}

.marginT5{margin-top:5px}
.marginT10{margin-top:10px}
.marginT30{margin-top:30px}
.marginT60{margin-top:60px}
.marginB5{margin-bottom:5px}
.titleH3{font-size:14px}

.tdLeft{text-align:left;padding-left:5px;}
.tdCenter{text-align:center;}
.tdRight{text-align:right;padding-right:5px;}

/* Jeong Chan Myeong(dece24@gmail.com) */

/* Button Reset */
.button,
.button a,
.button button,
.button input { position:relative; margin:0; display:-moz-inline-stack; display:inline-block; text-decoration:none !important; border:0; font-size:12px; font-family:Tahoma, Sans-serif; white-space:nowrap; background:url(images/button/buttonWhite.gif) no-repeat; overflow:visible; color:#333;}
.button { height:23px; padding:0; vertical-align:middle; margin-right:2px; background-position:left top;}
.button a,
.button button,
.button input{ left:2px; vertical-align:top; cursor:pointer;}

/* Button Size */
.button.large { height:29px; background-position:left -30px; }
.button.xLarge { height:35px; background-position:left -65px; }
.button.small { height:18px; background-position:left -107px; }
.button a,
.button button,
.button input { height:23px; padding:0 10px 0 8px; font-size:12px; line-height:23px; background-position:right top;}
.button.large a,
.button.large button,
.button.large input { height:30px; padding:0 10px 0 8px; font-size:16px; line-height:29px; background-position:right -30px;}
.button.xLarge a,
.button.xLarge button,
.button.xLarge input { height:35px; padding:0 10px 0 8px; font-size:20px; line-height:35px; background-position:right -65px;}
.button.small a,
.button.small button,
.button.small input { height:18px; padding:0 6px 0 4px; font-size:11px; line-height:18px; background-position:right -107px;}

/* Button Text Color */
.button *:hover,
.button *:active,
.button *:focus{ color:#690;}
.button.green,
.button.green a,
.button.green button,
.button.green input { background-image:url(images/button/buttonGreen.gif); color:#fff;}
.button.green *:hover,
.button.green *:active,
.button.green *:focus{ color:#ff0;}
.button.black,
.button.black a,
.button.black button,
.button.black input { background-image:url(images/button/buttonBlack.gif); color:#fff;}
.button.black *:hover,
.button.black *:active,
.button.black *:focus{ color:#ff0;}
.button.red,
.button.red a,
.button.red button,
.button.red input { background-image:url(images/button/buttonRed.gif); color:#fff;}
.button.red *:hover,
.button.red *:active,
.button.red *:focus{ color:#ff0;}
.button.blue,
.button.blue a,
.button.blue button,
.button.blue input { background-image:url(images/button/buttonBlue.gif); color:#fff;}
.button.blue *:hover,
.button.blue *:active,
.button.blue *:focus{ color:#ff0;}
.button.white,
.button.white a,
.button.white button,
.button.white input { background-image:url(images/button/buttonWhite.gif); color:#000;}
.button.white *:hover,
.button.white *:active,
.button.white *:focus{ color:#000;}

/* Button Text Strong */
.button.strong * { font-weight:bold !important;}

/* Layer Popup */
#pop_wrap{overflow:visible;filter:progid:DXImageTransform.Microsoft.Shadow(color='#999999',direction='135',strength='3');line-height:normal}
#pop_wrap img,#pop_wrap fieldset{border:none}
#pop_wrap legend{display:none}
#pop_content{position:relative;z-index:20;background:#fff}
#pop_wrap .ly_header{margin:0 auto;padding:8px 0 7px 0px;background:#f4f4f4;color:#000;font-family:'돋움',Dotum,'굴림',Gulim,AppleGothic,Sans-serif;font-size:16px;font-weight:bold}
#pop_wrap .ly_body{margin:0 20px;padding:15px 0 4px;color:#444;font-family:'돋움',Dotum,'굴림',Gulim,AppleGothic,Sans-serif;font-size:12px}
#pop_wrap .ly_body dt{margin:0 0 9px}
#pop_wrap .ly_body dd{margin:0 0 6px}
#pop_wrap .ly_body .input_radio{_margin:-3px;vertical-align:middle}
#pop_wrap .close_layer{position:absolute;top:9px;right:9px}
#pop_wrap .shadow{_display:none;overflow:visible;position:absolute;z-index:10;width:100%;height:100%}
#pop_footer{margin:0 20px;padding:10px 0 15px;text-align:center}
#pop_footer input,#pop_footer a,#pop_footer img{vertical-align:top}
#pop_footer input,#pop_footer a{margin:0 1px 0 0}

#tabContainer{width:1050px;margin:5px auto;}

#tabContainer2{width:100%;margin:0px auto;}

.tab_menu{width:100%;}

.tab_menu li{_display:inline;float:left;margin-right:-1px;background:#BDBDBD;font-weight:bold;border:1px solid #dadada;}

.tab_menu li span{display:block}

.tab_menu li a{display:block;_float:left;height:19px;padding:9px 19px 0 18px;background:url(img/bg.gif) 0 0 no-repeat;color:#666;line-height:14px;text-decoration:none}

.tab_menu li a:hover{color:#333}

.tab_menu li.selected{background-position:100% -28px}

.tab_menu li.selected a{background-position:0 -28px;color:#fff;background:#8C8C8C;font-weight:bold;letter-spacing:-1px}